@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.main{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all ease-in 0.4s; */
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255 , 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container{
    height: 80vh;
    width: 80vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 644px;
    padding-left: 32px;
    padding-right: 24px;
    margin: 44px;
}

input{
    padding: 12px;
    border-radius: 7px;
    border: none;
}

.heading_search{
    display: flex;
    align-items: center;
    gap: 12px;
}

.words{
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 500;
}

i{
    font-size: 26px;
}

.heading{
    font-size: 32px;
    font-weight: 600;
}

.temp_text{
    margin-top: 12px;
    font-size: 16px;
    margin-bottom: 16px;
}

.city_name{
    font-size: 32px;
    font-weight: 600;
}

.temp{
    margin-top: 18px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.num{
    font-size: 28px;
}

.feel{
    font-size: 26px;
    margin-bottom: 12px;
}

.extra{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.min-max{
    display: flex;
    gap: 12px;
}

img{
    width: 56px;
    height: 56px;
}

.wind{
    margin-bottom: 16px;
}

button{
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
}

button:hover{
    cursor: pointer;
    transform:scale(1.05);
}